.container .formacao {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    padding: 3rem;
    background-color: #EAF2FD;
}

.img__formacao {
    background-color: white;
    box-shadow: 1px 1px 1px rgb(225, 228, 230);
    border-radius: 10px;
}

.igm__form {
    width: 280px;
    height: 180px;
}